
#header {
  position: fixed;
  height: 50px;
  bottom:0;
  background-color: white;
  width: 100%;
}
#header .name {
  font-size: 40px;
}
#header span.delay {
  margin-left: 20px;
}
input.delay {
  background-color: transparent;
  background-image: none;
  border: none;
  outline: none;
  border-radius: 2px;
  text-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(250,250,250,0.15);
  display: inline-block;
  vertical-align: middle;
  width: 50px;
}

.editing {
  float:left;
  line-height: 50px;
}

.paging {
  float:left;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
}
.paging a {
  padding: 5px;
}
.paging a:hover {
  color: blue
}

#gallery {
  width: 100%;
  position:fixed;
  overflow:scroll;
  top:0;
  bottom: 0;
  padding-bottom: 50px
}

.log {
  position:relative;
  float:left;
  width: auto;
  background: #e4e4e4;
  padding: 1px;
  margin: 5px;
}
.log img {
  float:left;
}

.log .name {
  float:left;
  clear:left;
  left: 5px;
  font-size: 12px;
  font-family: "Courier New";
  text-align: center;
  width: 100%;
  margin-top: 5px;
  /*background-color: rgba(255,255,255,0.5);*/
}

.log:nth-child(odd) {
  background: #e8e8e8;
}
.log:hover {
  background-color: #e8e2e2;
}

.editing {
}

.hidden {
  display: none;
}
