body {
  margin: 0;
  padding: 0;
}
#header {
  position: fixed;
  height: 70px;
  bottom:0;
  background-color: #ececec;
  background-color:#4D2119;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  cursor: default;
  border-top: 1px solid #efefef;
  color: #ececec;
}
#header .name {
  font-size: 40px;
  color: black;
  padding-left: 10px;
  color: white;
}
#header .name: visited {
  color: black;
  color: white;
}
#header span.delay {
  margin-left: 20px;
}
input.delay {
  background-color: transparent;
  background-image: none;
  border: none;
  outline: none;
  border-radius: 2px;
  text-shadow: none;
  box-shadow: none;
  /*border-bottom: 1px solid rgba(250,250,250,0.15);*/
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  color: white;
}

.name {
  float:left;
  line-height: 70px;
}

.editing {
  margin-left: 50px;
  float:left;
  line-height: 70px;
  display: table;
}

.delay {
  display: table-cell;
  vertical-align: middle;
}
.delay input:hover {
  text-shadow: 0px 1px 2px rgba(206, 150, 150, 1);
}

.paging {
  margin: 0px auto;
  width: 600px;
  height: 70px;
  text-align:center;
  line-height: 70px;
  font-family: 'Carrois Gothic SC', sans-serif;
  text-transform: uppercase;
}
.paging .prev {
  margin-right: 20px
}
.paging .prev:before {
  content: "<";
  padding-right: 5px;
}
.paging .next {
  margin-left: 20px
}
.paging .next:after {
  content: ">";
  padding-left: 5px;
}
.paging .first {
}
.paging .first:before {
  content: "<<";
  padding-right: 5px;
}
.paging .last {
}
.paging .last:after {
  content: ">>";
  padding-left: 5px;
}
.paging a {
  padding: 5px 10px 5px 10px;
  margin: 2px;
  background-color: #898989;
  background-color: #38A867;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  border: 1px solid transparent;
  font-size: 13px;
  cursor: pointer;
  color: #dadada;
  border-radius: 2px;
}
.paging a:hover {
  color: #ececec;
  border: 1px solid #dadada;
}

#gallery {
  width: 100%;
  position:fixed;
  overflow:scroll;
  top:0;
  bottom: 0;
  padding-bottom: 70px
}

.log {
  position:relative;
  float:left;
  width: auto;
  background: #e4e4e4;
  padding: 1px;
  margin: 5px;
}
.log img {
  float:left;
}

.log:nth-child(odd) {
  background: #e8e8e8;
}
.log:hover {
  background-color: #e8e2e2;
}

.editing {
}

.hidden {
  display: none;
}


.stats {
  position:absolute;
  right: 0;
  bottom:0;
  width: 100px;
  line-height: 70px;
  font-size: 12px;
  font-family: "Inconsolata";
}
.logs {
  font-size: 13px;
}
.size {
  font-size: 14px;
  margin-left: 10px;
}
