body {
  width: 500px;
  font-family: 'Oxygen', sans-serif;
  margin:0;
  background-color: #cccccc;
  border: 1px solid #eeeeee;
}
#container {
  border: 1px solid #dddddd;
  width: 499px;
  height: 99%;
}


.addnew {
  width: 50%;
  height: 20px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
span.add {
  width: 100%;
  margin: 2px;
  padding: 5px 10px 5px 10px;
  background-color: #898989;
  border: 1px solid transparent;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}
span.add:hover {
  color: #ececec;
  border: 1px solid #454545;
}

#existing table {
  margin-top: 20px;
  width: 100%;
  border-spacing:0;
}
tr.log {
  padding: 5px;
  font-size: 10px;
  background-color: #e4e4e4;
}
.log:nth-child(even) {
  background-color: #e8e8e8;
}
.log:hover {
  background-color: #d9d6d6;
}

.log a {
  color: black;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding: 5px 0;
}
.log a:hover {
}
.log a:visited {
  color: auto;
}

.existing table {
  outline: none;
}
.log td {
  margin-left: 2px;
  padding: 0 10px
}
.log .count {
  float: right;
}
.log td img {
  width: 50px;
  float: right;
  margin-right: 10px;
}
.log .host {
  font-size: 27px;
}
.host {
}
.delay {
}
.count {
}
.hidden {
  display: none;
}

.stats {
  font-family: "Inconsolata";
  width: 50%;
  height: 20px;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
}

.editing {
  margin: 20px;
  text-align: center;
}
span.save {
  width: 100%;
  margin: 2px;
  padding: 5px 10px 5px 10px;
  background-color: #898989;
  border: 1px solid transparent;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}
span.save:hover {
  color: #ececec;
  border: 1px solid #454545;
}

#wtf {
  position:absolute;
  top: -100px;
  left: -100px;
}
